@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}

/* .bg {
  background-image: url("/images/phone.png");
} */

.container {
  position: relative;

  overflow: hidden;
}
.container .section {
  position: relative;

  background-blend-mode: multiply;
}
.container .section:nth-child(1) {
  /* background: url("../public/images/bgvideo.mp4"); */
  background-size: cover;
  /* background-attachment: fixed; */
}

.container .section:nth-child(2) {
  /* background: #f00 url("../public/images/bg.png"); */
  background-size: cover;
  /* background-attachment: fixed; */
}
.container .section:nth-child(3) {
  /* background: rgb(42, 252, 49) url("../public/images/bg.png"); */
  background-size: cover;
  /* background-attachment: fixed; */
}
